// Заголовки, загальні БЕМ блоки та інше...

.page {
    // .page__main
    &__main {
    }
    // .page__about
    &__about {
    }
    // .page__ukraine
    &__ukraine {
    }
    // .page__programs
    &__programs {
    }
}

//========================================================================================================================================================
.social {
    // .social__items
    &__items {
        display: flex;
        gap: rem(26);
    }
    // .social__item
    &__item {
        font-size: rem(22);
        &_footer {
            a {
                color: #fff;
                transition: color 0.3s ease 0s;
                @media (any-hover: hover) {
                    &:hover {
                        color: $activeColor;
                    }
                }
            }
        }
    }
}
//========================================================================================================================================================
.button {
    font-weight: 700;
    @include adaptiveValue("font-size", 22, 16);
    line-height: math.div(24, 22);
    color: #fff;
    background-color: $activeColor;
    border-radius: rem(10);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: rem(22);
    @media (any-hover: hover) {
        &:hover {
            background-color: #059152;
        }
    }
}
//========================================================================================================================================================

.title {
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.8s ease 0s;
    &._watcher-view {
        transform: translate(0px, 0px);
        opacity: 1;
        transition: all 0.8s ease 0.4s;
    }
    &_right {
        display: grid;
        justify-content: flex-end;
        transform: translate(120%, 0px);
        opacity: 0;
        transition: all 0.8s ease 0s;
        &._watcher-view {
            transform: translate(0px, 0px);
            opacity: 1;
            transition: all 0.8s ease 0.4s;
        }
    }
    // .title__value
    &__value {
        @include adaptiveValue("font-size", 44, 30);
        line-height: math.div(66, 44);
        font-weight: 700;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            width: rem(360);
            height: rem(1);
            background-color: $mainColor;
            position: absolute;
        }
        &_left {
            &::before {
                left: rem(-380);
            }
        }
        &_right {
            &::before {
                right: rem(-380);
            }
        }
    }
}
//========================================================================================================================================================

.text {
    // .text__color
    &__color {
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 16);
        line-height: math.div(32, 24);
        color: $defaultColor;
    }
    // .text__original
    &__original {
        @include adaptiveValue("font-size", 22, 14);
        line-height: math.div(32, 22);
        font-weight: 300;
    }
}
//========================================================================================================================================================

.banner-box {
    // .banner-box__container
    &__container {
        @include adaptiveValue("padding-top", 113, 40);
        position: relative;
        @include adaptiveValue("min-height", 300, 150);
    }
    // .banner-box__title
    &__title {
        color: #ffffff;
        @include adaptiveValue("font-size", 70, 30);
        line-height: math.div(105, 70);
        font-weight: 700;
        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 0.8s ease 0s;
        &._watcher-view {
            transform: translate(0px, 0px);
            opacity: 1;
            transition: all 0.8s ease 0.4s;
        }
    }
}
//========================================================================================================================================================
.scroll-up {
    position: fixed;
    bottom: rem(150);
    @include adaptiveValue("right", 220, 50, 2, 1920, 768);
    @include adaptiveValue(" width", 68, 40, 2, 1920, 600);
    @include adaptiveValue("height", 68, 40, 2, 1920, 600);
    background-color: $activeColor;
    border-radius: 50%;
    display: flex;
    font-size: rem(20);
    justify-content: center;
    transition: all 0.3s ease 0s;
    align-items: center;
    color: #fff;
    border: rem(2) solid $activeColor;
    transform: rotate(-90deg);
    transition: all 0.3s ease 0s;
    z-index: 10;
    opacity: 0;
    ._header-show & {
        opacity: 1;
        transition: opacity 0.3s ease 0s;
    }
    @media (any-hover: hover) {
        &:hover {
            color: $activeColor;
            background-color: transparent;
        }
    }
    @media (max-width: em(600)) {
        ._header-show & {
            display: none;
        }
    }
}
